<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eboji.data.dao.BkRechargeMapper" >
  <resultMap id="BaseResultMap" type="com.eboji.data.pojo.BkRecharge" >
    <id column="int" property="int" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="BIGINT" />
    <result column="muid" property="muid" jdbcType="INTEGER" />
    <result column="rmb" property="rmb" jdbcType="DECIMAL" />
    <result column="lastdate" property="lastdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    int, uid, account, muid, rmb, lastdate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eboji.data.pojo.BkRechargeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bk_recharge
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bk_recharge
    where int = #{int,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bk_recharge
    where int = #{int,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.eboji.data.pojo.BkRechargeExample" >
    delete from bk_recharge
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eboji.data.pojo.BkRecharge" >
    insert into bk_recharge (int, uid, account, 
      muid, rmb, lastdate
      )
    values (#{int,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{account,jdbcType=BIGINT}, 
      #{muid,jdbcType=INTEGER}, #{rmb,jdbcType=DECIMAL}, #{lastdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eboji.data.pojo.BkRecharge" >
    insert into bk_recharge
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="int != null" >
        int,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="muid != null" >
        muid,
      </if>
      <if test="rmb != null" >
        rmb,
      </if>
      <if test="lastdate != null" >
        lastdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="int != null" >
        #{int,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=BIGINT},
      </if>
      <if test="muid != null" >
        #{muid,jdbcType=INTEGER},
      </if>
      <if test="rmb != null" >
        #{rmb,jdbcType=DECIMAL},
      </if>
      <if test="lastdate != null" >
        #{lastdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eboji.data.pojo.BkRechargeExample" resultType="java.lang.Integer" >
    select count(*) from bk_recharge
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bk_recharge
    <set >
      <if test="record.int != null" >
        int = #{record.int,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=BIGINT},
      </if>
      <if test="record.muid != null" >
        muid = #{record.muid,jdbcType=INTEGER},
      </if>
      <if test="record.rmb != null" >
        rmb = #{record.rmb,jdbcType=DECIMAL},
      </if>
      <if test="record.lastdate != null" >
        lastdate = #{record.lastdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bk_recharge
    set int = #{record.int,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      account = #{record.account,jdbcType=BIGINT},
      muid = #{record.muid,jdbcType=INTEGER},
      rmb = #{record.rmb,jdbcType=DECIMAL},
      lastdate = #{record.lastdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eboji.data.pojo.BkRecharge" >
    update bk_recharge
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=BIGINT},
      </if>
      <if test="muid != null" >
        muid = #{muid,jdbcType=INTEGER},
      </if>
      <if test="rmb != null" >
        rmb = #{rmb,jdbcType=DECIMAL},
      </if>
      <if test="lastdate != null" >
        lastdate = #{lastdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where int = #{int,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eboji.data.pojo.BkRecharge" >
    update bk_recharge
    set uid = #{uid,jdbcType=INTEGER},
      account = #{account,jdbcType=BIGINT},
      muid = #{muid,jdbcType=INTEGER},
      rmb = #{rmb,jdbcType=DECIMAL},
      lastdate = #{lastdate,jdbcType=TIMESTAMP}
    where int = #{int,jdbcType=INTEGER}
  </update>
</mapper>