<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eboji.data.dao.GGHistMapper" >
  <cache eviction="FIFO"
    flushInterval="60000"
    size="512"
    readOnly="true" />
    
  <resultMap id="BaseResultMap" type="com.eboji.data.pojo.GGHist" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="gno" property="gno" jdbcType="INTEGER" />
    <result column="d_euid" property="dEuid" jdbcType="VARCHAR" />
    <result column="d_suid" property="dSuid" jdbcType="VARCHAR" />
    <result column="d_wuid" property="dWuid" jdbcType="VARCHAR" />
    <result column="d_nuid" property="dNuid" jdbcType="VARCHAR" />
    <result column="d_in" property="dIn" jdbcType="VARCHAR" />
    <result column="d_out" property="dOut" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="step" property="step" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tid, gno, d_euid, d_suid, d_wuid, d_nuid, d_in, d_out, type, step
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eboji.data.pojo.GGHistExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gg_hist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gg_hist
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gg_hist
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.eboji.data.pojo.GGHistExample" >
    delete from gg_hist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eboji.data.pojo.GGHist" >
    insert into gg_hist (id, tid, gno, 
      d_euid, d_suid, d_wuid, 
      d_nuid, d_in, d_out, type, 
      step)
    values (#{id,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{gno,jdbcType=INTEGER}, 
      #{dEuid,jdbcType=VARCHAR}, #{dSuid,jdbcType=VARCHAR}, #{dWuid,jdbcType=VARCHAR}, 
      #{dNuid,jdbcType=VARCHAR}, #{dIn,jdbcType=VARCHAR}, #{dOut,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{step,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.eboji.data.pojo.GGHist" >
    insert into gg_hist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="gno != null" >
        gno,
      </if>
      <if test="dEuid != null" >
        d_euid,
      </if>
      <if test="dSuid != null" >
        d_suid,
      </if>
      <if test="dWuid != null" >
        d_wuid,
      </if>
      <if test="dNuid != null" >
        d_nuid,
      </if>
      <if test="dIn != null" >
        d_in,
      </if>
      <if test="dOut != null" >
        d_out,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="step != null" >
        step,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="gno != null" >
        #{gno,jdbcType=INTEGER},
      </if>
      <if test="dEuid != null" >
        #{dEuid,jdbcType=VARCHAR},
      </if>
      <if test="dSuid != null" >
        #{dSuid,jdbcType=VARCHAR},
      </if>
      <if test="dWuid != null" >
        #{dWuid,jdbcType=VARCHAR},
      </if>
      <if test="dNuid != null" >
        #{dNuid,jdbcType=VARCHAR},
      </if>
      <if test="dIn != null" >
        #{dIn,jdbcType=VARCHAR},
      </if>
      <if test="dOut != null" >
        #{dOut,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="step != null" >
        #{step,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eboji.data.pojo.GGHistExample" resultType="java.lang.Integer" >
    select count(*) from gg_hist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gg_hist
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tid != null" >
        tid = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.gno != null" >
        gno = #{record.gno,jdbcType=INTEGER},
      </if>
      <if test="record.dEuid != null" >
        d_euid = #{record.dEuid,jdbcType=VARCHAR},
      </if>
      <if test="record.dSuid != null" >
        d_suid = #{record.dSuid,jdbcType=VARCHAR},
      </if>
      <if test="record.dWuid != null" >
        d_wuid = #{record.dWuid,jdbcType=VARCHAR},
      </if>
      <if test="record.dNuid != null" >
        d_nuid = #{record.dNuid,jdbcType=VARCHAR},
      </if>
      <if test="record.dIn != null" >
        d_in = #{record.dIn,jdbcType=VARCHAR},
      </if>
      <if test="record.dOut != null" >
        d_out = #{record.dOut,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.step != null" >
        step = #{record.step,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gg_hist
    set id = #{record.id,jdbcType=INTEGER},
      tid = #{record.tid,jdbcType=INTEGER},
      gno = #{record.gno,jdbcType=INTEGER},
      d_euid = #{record.dEuid,jdbcType=VARCHAR},
      d_suid = #{record.dSuid,jdbcType=VARCHAR},
      d_wuid = #{record.dWuid,jdbcType=VARCHAR},
      d_nuid = #{record.dNuid,jdbcType=VARCHAR},
      d_in = #{record.dIn,jdbcType=VARCHAR},
      d_out = #{record.dOut,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      step = #{record.step,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eboji.data.pojo.GGHist" >
    update gg_hist
    <set >
      <if test="tid != null" >
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="gno != null" >
        gno = #{gno,jdbcType=INTEGER},
      </if>
      <if test="dEuid != null" >
        d_euid = #{dEuid,jdbcType=VARCHAR},
      </if>
      <if test="dSuid != null" >
        d_suid = #{dSuid,jdbcType=VARCHAR},
      </if>
      <if test="dWuid != null" >
        d_wuid = #{dWuid,jdbcType=VARCHAR},
      </if>
      <if test="dNuid != null" >
        d_nuid = #{dNuid,jdbcType=VARCHAR},
      </if>
      <if test="dIn != null" >
        d_in = #{dIn,jdbcType=VARCHAR},
      </if>
      <if test="dOut != null" >
        d_out = #{dOut,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="step != null" >
        step = #{step,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eboji.data.pojo.GGHist" >
    update gg_hist
    set tid = #{tid,jdbcType=INTEGER},
      gno = #{gno,jdbcType=INTEGER},
      d_euid = #{dEuid,jdbcType=VARCHAR},
      d_suid = #{dSuid,jdbcType=VARCHAR},
      d_wuid = #{dWuid,jdbcType=VARCHAR},
      d_nuid = #{dNuid,jdbcType=VARCHAR},
      d_in = #{dIn,jdbcType=VARCHAR},
      d_out = #{dOut,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      step = #{step,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>