<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eboji.data.dao.GGScoreMapper" >
  <cache eviction="FIFO"
    flushInterval="60000"
    size="512"
    readOnly="true" />
    
  <resultMap id="BaseResultMap" type="com.eboji.data.pojo.GGScore" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="gno" property="gno" jdbcType="INTEGER" />
    <result column="sc_euid" property="scEuid" jdbcType="INTEGER" />
    <result column="sc_suid" property="scSuid" jdbcType="INTEGER" />
    <result column="sc_wuid" property="scWuid" jdbcType="INTEGER" />
    <result column="sc_nuid" property="scNuid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tid, gno, sc_euid, sc_suid, sc_wuid, sc_nuid, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eboji.data.pojo.GGScoreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gg_score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gg_score
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gg_score
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.eboji.data.pojo.GGScoreExample" >
    delete from gg_score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eboji.data.pojo.GGScore" >
    insert into gg_score (id, tid, gno, 
      sc_euid, sc_suid, sc_wuid, 
      sc_nuid, createtime)
    values (#{id,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{gno,jdbcType=INTEGER}, 
      #{scEuid,jdbcType=INTEGER}, #{scSuid,jdbcType=INTEGER}, #{scWuid,jdbcType=INTEGER}, 
      #{scNuid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.eboji.data.pojo.GGScore" >
    insert into gg_score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="gno != null" >
        gno,
      </if>
      <if test="scEuid != null" >
        sc_euid,
      </if>
      <if test="scSuid != null" >
        sc_suid,
      </if>
      <if test="scWuid != null" >
        sc_wuid,
      </if>
      <if test="scNuid != null" >
        sc_nuid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="gno != null" >
        #{gno,jdbcType=INTEGER},
      </if>
      <if test="scEuid != null" >
        #{scEuid,jdbcType=INTEGER},
      </if>
      <if test="scSuid != null" >
        #{scSuid,jdbcType=INTEGER},
      </if>
      <if test="scWuid != null" >
        #{scWuid,jdbcType=INTEGER},
      </if>
      <if test="scNuid != null" >
        #{scNuid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eboji.data.pojo.GGScoreExample" resultType="java.lang.Integer" >
    select count(*) from gg_score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gg_score
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tid != null" >
        tid = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.gno != null" >
        gno = #{record.gno,jdbcType=INTEGER},
      </if>
      <if test="record.scEuid != null" >
        sc_euid = #{record.scEuid,jdbcType=INTEGER},
      </if>
      <if test="record.scSuid != null" >
        sc_suid = #{record.scSuid,jdbcType=INTEGER},
      </if>
      <if test="record.scWuid != null" >
        sc_wuid = #{record.scWuid,jdbcType=INTEGER},
      </if>
      <if test="record.scNuid != null" >
        sc_nuid = #{record.scNuid,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gg_score
    set id = #{record.id,jdbcType=INTEGER},
      tid = #{record.tid,jdbcType=INTEGER},
      gno = #{record.gno,jdbcType=INTEGER},
      sc_euid = #{record.scEuid,jdbcType=INTEGER},
      sc_suid = #{record.scSuid,jdbcType=INTEGER},
      sc_wuid = #{record.scWuid,jdbcType=INTEGER},
      sc_nuid = #{record.scNuid,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eboji.data.pojo.GGScore" >
    update gg_score
    <set >
      <if test="tid != null" >
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="gno != null" >
        gno = #{gno,jdbcType=INTEGER},
      </if>
      <if test="scEuid != null" >
        sc_euid = #{scEuid,jdbcType=INTEGER},
      </if>
      <if test="scSuid != null" >
        sc_suid = #{scSuid,jdbcType=INTEGER},
      </if>
      <if test="scWuid != null" >
        sc_wuid = #{scWuid,jdbcType=INTEGER},
      </if>
      <if test="scNuid != null" >
        sc_nuid = #{scNuid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eboji.data.pojo.GGScore" >
    update gg_score
    set tid = #{tid,jdbcType=INTEGER},
      gno = #{gno,jdbcType=INTEGER},
      sc_euid = #{scEuid,jdbcType=INTEGER},
      sc_suid = #{scSuid,jdbcType=INTEGER},
      sc_wuid = #{scWuid,jdbcType=INTEGER},
      sc_nuid = #{scNuid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>